@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 62.5rem;
  background-color: #000;
 
} 

#header{

  background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 1% 50%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  position: fixed;
  background-color:  rgba(0, 0, 0, 60%);
  height: 5.75rem;
  width: 100%;
  color:white;
  text-transform: uppercase;
  font-size: max(0.9vw, 2rem);
  line-height: 1ch; 
  z-index: 1;
  
}

#header h1 {
  margin-left: 5.25rem;
}

.logo {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1ch;   
  text-transform: uppercase;
  text-align: right;
}

.logo__subtitle{
  font-size: 1.2rem;
  font-weight: 300;
  color: #033a92; 
}

.choice{

  height: calc(63vh - 5.75rem);
  display: flex;
  position: absolute;
  margin-left: 6.25rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

label{
  font-size:1.25rem;
  color:white;
  font-weight: 300;
  border: 1px solid white;
  background-color: rgba(36, 40, 66, 60%);
  padding: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 3.125rem;

}

#date{
  width: 9.375rem;
  font-size: 1rem;
  background-color:black;
  color: white;
  margin: 1.25rem;
  text-align: center;
  border: 1px solid white;
  font-weight: 300; 
  text-transform: uppercase;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

.conteudo{
  
  display: flex;
  position: absolute;  
  align-items: center;
  justify-content: center;
  margin-top: 17.25rem;
 
  background-color: rgba(36, 40, 66, 0.7);
  width: 100%;
  height: 31.25rem;
  

}

.conteudo__texto {
  width: max(40vw, 25rem) ;
  height: max(10vw, 21.875rem);
  padding: 1.25rem;
  color: white;
  border-radius: 0.3125rem;
  margin: 3.125rem;
  
}

.invi{
  display:none;
}

#title{
  padding-bottom: 1.875rem;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  letter-spacing: 0.2rem;
}

#texto{
  font-size: max(1vh, 1rem);

}

.imagem{

  display: flex;
  flex-direction: row;
  justify-self: center;
  
  width: max(10vw, 25rem) ;
  height: max(10vw, 21.875rem)  ;
  border: 0.0625rem solid white;
  border-radius: 0.3125rem;
  animation:normal 1.5s;
  
}

footer{
  border-top: 0.0625rem solid #333;
  text-transform: uppercase;
  bottom: 0;
  height: 4.375rem;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 80%);
  color: white;
  font-size: 0.625;
  text-align: center;
  
}

footer p {
  margin: 1.875rem;
  align-items: center;
  
  
}



@media screen and (max-width: 900px){

  #header {
   
    background-image:none;
    margin: 2px;
    justify-content: left;
  }

  #header span{
    display: none;
  }

  .logo h1 {
    justify-content: center;
    margin-left: 0;
  }

  .choice {
    margin-top: 100px;
    flex-direction: column;
    width: 200px;
  }

  .conteudo{
      margin-top: autoJ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: none;

  }
  .conteudo__texto{
      width: 60%;
      margin-bottom: 15px;
      margin-top: 0px;
     
      
  }

  #conteudo__nasa{
      width: 60%;
      margin-bottom:100px;
  }

  .imagem{
      margin-top: 900px;
      width: 300px;
      height: 300px;
     
  }     
}




